body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/bg.jpg);
    min-height: 100vh;
    background-size: cover;
    flex-wrap: wrap;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
}

#controls button {
    border: 2px solid #040605;
    border-radius: 15px;
    background-image: linear-gradient(500deg, #c8b16c, #9fa6ab);
    color: #040605;
    font-weight: 700;
    text-shadow: 1px 1px 1px #4a4d70;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
}

span {
    font-size: 20px;
    padding: 0;
    color: #8cb9c6;
    margin: 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: #232a3d;
    background-image: linear-gradient(to right, #c8b16c, #9fa6ab);
    padding: 0 10px;
    border-radius: 10px;
    margin: 0;
    /* flex: 1; */
}

#time {
    margin: 40px 0px 20px 0px;
    font-size: 40px;
    display: flex;
    width: 76%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

nav {
    background-image: linear-gradient(to right, #c8b16c, #9fa6ab);
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 1em;
    font-size: 1em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #232a3d;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

#controls {
    background-color: #f5f5dc75;
    width: max-content;
    padding: 0.5% 2%;
    display: flex;
    border-radius: 30px 0px;
}

nav ul li:hover {
    background-color: #232a3d;
    color: #c8b16c;
    text-shadow: 0 0 2px rgb(203, 203, 235);
    transition: 0.5s;
}

#display-time {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: -webkit-fill-available;
}

#controls button:hover {
    background-image: none;
    transition: 0.5s;
    color: #c8b16c;
    background-color: #232a3d;
    text-shadow: none;
}

nav ul li:hover i {
    color: rgb(99, 39, 49);
    transition: 0.5s;
}

img {
    height: 53px;
    border-radius: 40px;
    width: 58px;
}

#ms {
    width: 7%;
}

div+span {
    margin: 20px 0 0 34px;
}

@media only screen and (min-width: 600px) {
    body {
        background-image: url(images/clock.jpg);
        align-items: center;
        justify-content: center;
        background-position: cover;
    }
    p {
        font-size: 2.7em;
    }
    span {
        font-size: 1.5em;
        color: #232a3d;
        text-shadow: 0px 0px 7px #c8b16c;
        background-color: #a9a9a9c2;
        border-radius: 45px;
        padding: 0 20px;
        margin-top: 20px;
    }
    button {
        font-size: 1.2em;
    }
    nav {
        position: absolute;
        top: 5px;
    }
    nav ul li {
        padding: 1.5em;
        font-size: 1.2em;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #232a3d;
    }
}