body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    display: block;
    background-color: beige;
}

#controls button {
    display: inline-block;
    background-color: aquamarine;
    border: 2px;
    border-color: gray;
    padding: 15px 20px;
    margin: 5px;
}

#time {
    height: 30vh;
    font-size: 40px;
}